#video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.background{
    background-color: #181a1b;
}

.middle{
    position: fixed;
    top: 40%;
    left: 100px;
    width: calc(100% - 200px);
    height: 40%;
}
.hauke{
    position: relative;
    left: calc(50% - 58px);
    max-width: 20%;
    color: white;
}
.h{
    color: rgb(255, 255, 255);
}
.social_media{
    position: relative;
    left: calc(50% - 155px);
}

.Twitter{
    position: absolute;
    left: calc(50% - 138px - 58px);
    max-width: 20%;
}
.t_pic{
    position: fixed;
    left: 40px;
    top: 40%;
    max-width: 100px;
    max-height: 100px;
}


.pic_t{
    position: relative;
    top: 0;
    left: 110%;
    width: 10px;
    height: 10px;
}
.pic{
    max-height: 100px;
    max-width: 100px;
}
.t{
    color: #1DA1F2;
}

.Discord{
    position: absolute;
    left: calc(50% + 116px - 58px);
}
.discord{
    color: #7289da;
}
.btn{
    border: none;
    background-color: inherit;
}
btn:hover{
    border: 2px groove black;
}
.rel{
    position: relative;
}


.text{
    font-size: 300%;
}

.hide{
    display: none;
}

.Twitter:hover + .hide {
    display: table;
}


a { text-decoration: none; }
